 <div class="get-educated">
          
          <h2>Get Educated</h2>
          <p class="educated-text">Read up on hydration, health and wellness tips from industry experts as well as our own.</p>
          <a class="link_underline" href="/blogs/learn">Learn More on our Blog</a>
        </div>