<div class="got-questions">
          
          <h2>Got Questions? <br>We have answers.</h2>
          <p class="got-questions-text">Skepticism is encouraged anytime you're putting something into your body. Ask away.</p>
          <a class="link_underline" href="#">More answers on our FAQ page</a>
        </div>