
<style>
	div#skio_login {
		display: block;
		width: 100%;
		text-align: center;
		margin: 20px auto;
	}
</style>
<div id="skio_login" style="display: none;">
	<h5>Having issues managing your subscriptions?</h5>
	<p>
		<a href="/a/account/login">Click here</a>
	</p>
</div>
