

<div class="product-bundle__wrapper">
  <div class="product-selector__card">
    <div class="">

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Bundle 2",
  "settings": [
    
    ],
    "presets": [
      {
        "name": "Product Bundle 2"
      }
    ]
}
{% endschema %} 