{{ 'buy-box.css' |  asset_url |  stylesheet_tag }}
{{ 'bundle-selector.css' |  asset_url |  stylesheet_tag }}
<script src="{{ 'bundle-selector.js' |  asset_url }}" defer></script>
<div class="bundle-selector__wrapper">
  <div class="product-bundle__wrapper">
    <div class="product-selector__card">
      <div class="product-img__wrapper">
        <img src="{{ 'lime.png' |  asset_url }}" class="product-img">
      </div>
      <div class="product-card__info">
        <h1 class="product-title">Strawberry Lemonade</h1>
        <button class="product-add__btn">Add+</button>
      </div>
    </div>
  </div>
  <div class="bundle-selector__footer">
    <p class="saving-text">You're Saving <span class="money-saved">$44.95</span></p>
    <button class="bundle-atc__btn">Select 4 More Packs <span></span></button>
  </div>

</div>

{% schema %}
{
  "name": "Product Bundle 2",
  "settings": [
    
    ],
    "presets": [
      {
        "name": "Product Bundle 2"
      }
    ]
}
{% endschema %} 