

<div class="product-bundle__wrapper">
  
</div>

{% schema %}
{
  "name": "Product Bundle 2",
  "settings": [
    
    ],
    "presets": [
      {
        "name": "Product Bundle 2"
      }
    ]
}
{% endschema %} 