

<div class="product-bundle__wrapper">
  <div class="product-selector__card">
    <div class="product-img__wrapper">
      <img src="{{ 'lime.png' |  asset_url }}">
    </div>
    <div class="product-card__info">
      <h1 class="">Strawberry Lemonade</h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Bundle 2",
  "settings": [
    
    ],
    "presets": [
      {
        "name": "Product Bundle 2"
      }
    ]
}
{% endschema %} 