.product-bundle__wrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.prodcut-selector__card {
  height: 65px;
  display: flex;
  flex-direction: row;
}

.product-img__wrapper {
  width: 60px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.

