.bundle-selector__page-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
}

.bundle-selector__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.product-review__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 170px;
  border: 1px solid #0D3063;
  border-radius: 10px;
}

.product-review__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding: 20px 25px;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.review-name__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.user_name {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 500;
  color:#0D3063;
  font-size: 18px;
}

.verified-badge {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065DE;
  gap: 5px
}

.icon-tick {
  display: flex;
  align-items: center;
}

.icon-tick svg {
  width: 13px;
  height: 13px;
}

.icon-tick svg path {
  fill: #0065DE;
}

.review-star__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.review-star__wrapper svg {
  width: 22.4px;
  height: 22.4px;
}

.review-description {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 300;
  color: #070D59;
  font-size: 16px;
  line-height: 22.4px;
}


.bundle-selector__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 490px;
  border-radius: 10px;
  overflow: hidden;
}

.banner__img {
  width: 560px;
  height: 490px;
  object-fit: cover;
}


.bundle-selector__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 0 1rem;
}

.product-bundle__wrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  gap: 10px;
}


.product-selector__card {
  height: 65px;
  display: flex;
  flex-direction: row;
  border: .5px solid #0D3063;
  background-color: #CBE5FF33;
  border-radius: 5px;
  overflow: hidden;
}

.product-img__wrapper {
  width: 72px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-img {
  width: 72px;
  height: 65px;
  object-fit: cover;
}

.product-card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 15px;
  width: 100%;
}

.product-title {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Poppins';
  color: #0D3063;
  text-wrap: wrap;
  width: 140px;
  display: flex;
  align-items: center;
  margin: 0;
}

.product-add__btn {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  background-color: #0D3063;
  color: white;
  border-radius: 7px;
  border: 1px solid #0D3063;
  
}

.variant__quantity-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95px;
}

.variant__decrease-btn, .variant__increase-btn {
  width: 28px;
  height: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0D3063;
  font-family: 'Poppins';
  font-weight: 500;
  border: none;
  outline: none;

}

.variant__added-no {
  font-family: 'Poppins';
  size: 20px;
  font-weight: 600;
  color: #0D3063;
}



.product-add__btn:hover {
  color: #0D3063;
  background: white;
}

.bundle-selector__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #5E8FCA36;
  gap: 4px;
  padding-top: 6px;
  margin-top: 15px;
  width: 100%;
}

.saving-text {
  font-size: 15px;
  font-weight: 700;
  color:#0D3063;
  font-family: 'Poppins';
  margin: 0;
}

.money-saved {
  color: #00A039;
}

.bundle-atc__btn {
  background: #E4E4E4;
  color: #1b1b1b;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins';
  border-radius: 10px;
  padding: 13px 45px;
  cursor: pointer;
  border: 1px solid #E4E4E4;

}

.active {
  background: #0D3063;
  color: white;
  border-color: #0D3063;
}

.active:hover {
  background: transparent;
  color: #0D3063;
  border-color: #0D3063;
}

.disable {
  background: #E4E4E4;
  color: #1b1b1b;
  border: 1px solid #E4E4E4;
}






