.product-bundle__wrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  gap: 10px;
}


.product-selector__card {
  height: 65px;
  display: flex;
  flex-direction: row;
  border: .5px solid #0D3063;
  background-color: #CBE5FF33;
  border-radius: 5px;
  overflow: hidden;
}

.product-img__wrapper {
  width: 60px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-img {
  width: 60px;
  height: 65px;
  object-fit: cover;
}

.product-card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 15px;
}

.product-title {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Poppins';
  color: #0D3063;
  text-wrap: wrap;
  width: 140px;
  display: flex;
  align-items: center;
  margin: 0;
}

.product-add__btn {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  background-color: #0D3063;
  color: white;
  border-radius: 7px;
  border: 1px solid #0D3063;
  display: none;
}

.variant__quantitiy-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.variant__quantitiy-controls button {
  width: 28px;
  height: 28px;
  columns: white;
  ba
}

.product-add__btn:hover {
  color: #0D3063;
  background: white;
}


