.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 615px;
  background: white;
  border: 1px solid #0D3063;

}

.input__tab-btn {
  position: absolute;
  opacity: 0;
}

.buy-box__lable {
  width: 100%;
  padding: 10px 25px;
  background: #CBE5FF;
  cursor: pointer;
  font-size: 13px;
  color: #4D4E5BF7;
  transition: background 0.1s, color 0.1s;
}

.buy-box__lable:hover {
  background: #CBE5FF;
}

.buy-box__lable:active {
  background: white;
}

.input__tab-btn:focus + .buy-box__lable {
  z-index: 1;
}

.input__tab-btn:checked + .buy-box__lable {
  background: white;
  color: #0D3063;
}

