/* Tab menu styling */

.poppins-thin {
  font-family: "Poppins", system-ui;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", system-ui;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", system-ui;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", system-ui;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", system-ui;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", system-ui;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", system-ui;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", system-ui;
  font-weight: 900;
  font-style: italic;
}



.buy-box__wrapper {
  max-width: 615px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #0D3063;
  border-radius: 10px; */
  overflow: hidden;
  font-family: 'Poppins', system-ui;
}

.mobile-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid #0D3063;
  font-family: 'Poppins';
}

.tab-button-container {
  display: flex;
  
}

.tab-button {
  background-color: #CBE5FF;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
  width: 100%;
  color: #4D4E5BF7;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: white;
  color: #0D3063;
  font-family: "Poppins", system-ui;
  font-weight: 700;
}

/* Tab content styling */
.tab-content {
  display: block;
  text-align: center;
  padding: 6px 10px;
}

.tab-content.active {
  display: block;
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-header p {
  font-family: 'Poppins', system-ui;
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
  color: #00A039;
  margin: 0;
}

.details-price__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Poppins';
}

.details__total-price {
  font-size: 12px;
  font-weight: 400;
  color: #0000008F;
  text-decoration: line-through;
  font-family: 'Poppins';
}

.details__discounted-price {
  font-size: 15px;
  color: #00A039;
  font-weight: 700;
}

.details__package-selector {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}



.details__package-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 70px;
  position: relative;
  border: .55px solid #B3B3B3;
  border-radius: 4px;
}

.details__package-box:hover {
  background: #CBE6FF;
}

.package__badge {
  position: absolute;
  top:-10px;
  left: 0;
  right: 0;
  background: #00A039;
  color: white;
  font-weight: 700;
  font-size: 10px;
  width: max-content;
  padding: 1px 10px;
  border-radius: 3px;
  margin: auto;
  font-family: 'Poppins';
}

.radio__package-box {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
}


.package-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.package-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #0D3063;
  font-family: 'Poppins';
}

.package-discount {
  font-size: 12px;
  font-weight: 500;
  color: #0D3063;
  margin: 0;
  font-family: 'Poppins';
}

.package-discount span {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  font-family: 'Poppins';
}

.packet-individual {
  font-size: 11.2px;
  font-weight: 400;
  color: #0D3063;
  margin: 0;
  font-family: Poppins;
}

.details__gift-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 20px;
  border-bottom: 2px solid #5E8FCA33;
  width: 100%;
}

.gift-wrapper__title {
  color: #0D3063;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

.gift-progress-bar__wrapper {
  position: relative;
  width: 100%;
} 


.progressBar {
  height: 14px;
  width: 100%;
  border: 0.5px solid #0D3063;
  background: white;
  border-radius: 3px;
  margin-block: 45px;
  overflow: hidden;
}

.progress {
  height: 14px;
  background-color: #E8FFE3;
}


.free-shipping__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 20px;
  bottom: 0;
  left: 60px;
  gap: 4px;
  height: 104px;
}

.image-wrapper {
  width: 100px;
  height: 80px;
  background-color: #E8FFE3;
  border-radius: 6.5px;
  border: 0.5px solid #0D3063;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.free-shipping-img {
  width: 100px;
  height: 80px;
  object-fit: cover;

}

.gift-title {
  font-size: 10px;
  font-family: 'Poppins';
  font-weight: 500;
  color: #0D3063;
}

.free-bottle__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 20px;
  bottom: 0;
  right: 0;
  gap: 4px;
  height: 104px;
}


.nectar-bottle-img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.details__footer {
  padding-block: 10px;
  gap: 10px;
}

.details__footer-congrats {
  display: flex;
  flex-direction: row;
  background-color: #E8FFE3;
  border-radius: 10px;
  padding-inline: 10px;
  gap: 10px;
  margin-bottom: 10px;
}

.footer__icon-wrapper {
  display: flex;
  align-items: center;
  width: 30px;
}

.footer-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}


.congrats-text {
  padding-block: 7px;
  font-size: 11px;
  color: #0D3063;
  text-align: start;
}

.congrats-text span {
  font-family: 'Poppins';
  font-weight: 700;
}


.footer-value__point {
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 600;
  margin: 0;
  text-align: start;
  display: flex;
  align-items: center;
  color: #0D3063;
  gap: 10px;
}

.footer-value__point span {
  display: flex;
  align-items: center;
  font-weight: 600;
  
}

.value-point__icon {
  width: 13px;
  height: 13px;
}

.footer-value__point span svg {
  margin-right: 7px;
}

.details__footer:last-child {
  font-weight: 300;
}

.sub-and-save__btn {
  width: 85vw;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  background-color: #00A7CA;
  color: white;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Poppins';
  margin-top: 10px;
}

.icon-gift {
  width: 18px;
  height: 18px;
}


.desktop-radio {
  display: none;
}

@media screen and (min-width: 789px) {
  .mobile-tabs {
    display: none;
  }

  .desktop-radio {
    display: block;
  }

  .radio-label {
    border-radius: 16px;
    border: 1px solid #0D3063;
    padding: 15px 30px;
    position: relative;
  }

  .radio-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .radio-tab {
    position: absolute;
    left: 30px;
    top: 17px;
    width: 25px;
    height: 25px;
  }

  .radio-header-title {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #0D3063;
    margin-left: 2rem;
    gap: 3px;
  }

  .radio-header-title span {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #0D3063;
  }

  .radio-header .details-price__wrapper {
    align-items: baseline;
  }

  .details__total-price {
    font-size: 19px;
  }

  .details__discounted-price {
    font-size: 24px;
  }

  .details__package-selector {
    gap: 10px;
    
  }

  .details__package-box {
    width: 215px;
    height: 85px;
    border-radius: 7px;
    margin: 0;
  }

  .package__badge {
    font-size: 12px;
  }

  .package-title {
    font-size: 20px;
  }
  .package-discount {
    font-size: 16px;
  }
  .packet-individual {
    font-size: 11px;
  }

  .gift-wrapper__title {
    margin-block: 10px;
    font-size: 19px;
  }

  .progressBar {
    margin-block: 1 ;
  }

  .free-shipping__wrapper {
    height: 130px;
  }

  .free-bottle__wrapper {
    height: 130px;
  }

  .image-wrapper {
    width: 105px;
    height: 130px;
  }

  .free-shipping-img {
    width: 105px;
    height: 120px;
    object-fit: cover;
  }

  .nectar-bottle-img {
    width: 105px;
    height: 120px;
    object-fit: cover;
  }

  .gift-title {
    font-size: 15px;
  }

  .details__footer-congrats {
    background-color: #E8FFE3;
    display: flex;
    flex-direction: row;
  }

  .sub-and-save__btn {
    width: 100%;
  }

  

  .congrats-text {
    background-color: #E8FFE3;
  }

  .value-points__container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    justify-content: center;
  }

  .choose-flavor__btn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid #5E8FCA36;
  }

  .choose-flavor__btn {
    background-color: #1E56A1;
    color: white;
    border-radius: 30px;
    border: 2px solid #1E56A1;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

  .choose-flavor__btn:hover {
    background: white;
    color: #0D3063;
  }

  .delivery-text {
    font-size: 15px;
    color: #0D3063;
    font-family: 'Poppins';
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    gap: 10px;
  }






}