/* .tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 615px;
  background: white;
  border: 1px solid #0D3063;

}

.input__tab-btn {
  position: absolute;
  opacity: 0;
}

.buy-box__lable {
  width: 100%;
  padding: 10px 25px;
  background: #CBE5FF;
  cursor: pointer;
  font-size: 13px;
  color: #4D4E5BF7;
  transition: background 0.1s, color 0.1s;
}

.buy-box__lable:hover {
  background: #CBE5FF;
}

.buy-box__lable:active {
  background: white;
}

.input__tab-btn:focus + .buy-box__lable {
  z-index: 1;
}

.input__tab-btn:checked + .buy-box__lable {
  background: white;
  color: #0D3063;
}

.buy-box__lable {
  width: auto;
}

.panel {
  display: none;
  padding: 6px 10px;
  background: white;
}

.panel {
  order: 99;
}

.input__tab-btn:checked + .buy-box__lable + .panel {
  display: flex;
} */

h1 {
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-size: 36px;
}
p {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  background: #e5e5e5;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}
.label:hover {
  background: #d8d8d8;
}
.label:active {
  background: #ccc;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  background: #fff;
  color: #000;
}
.panel {
  order: 99;
}
@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
}
@media (min-width: 600px) {
}
.input:checked + .label + .panel {
  display: block;
}
