{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}

{% section 'mirgo-blog-hero' %}
{% section 'blog-template' %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">      
      <div class="rte">
{% include 'got-questions' %}
      </div>
    </div>
  </div>
</div>



<style>
    body:not(.template-index) #PageContainer .main-content{
    padding-top: 0px !important;
  }
</style>
