{% section 'mirgo-faq-hero' %}
<div class="page-width contact-margin-bottom faq-top">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">      
      <div class="rte">
        {% section 'mirgo-faq' %}
        {% section 'mirgo-faq-4' %}
        {% section 'mirgo-faq-2' %}
        {% section 'mirgo-faq-3' %}
        {% include 'get-educated' %}
        
        
      </div>
    </div>
  </div>
</div>


<style>
    
  .mirgo-collapse-details {
    background: transparent !important;
    padding: 20px 0 !important;
  }
  .rte a:not(.btn) {
    border-bottom: none !important;
  }
  
  .faq-title {
    max-width: 780px;
    margin: 20px auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
   @media (max-width: 767px) {
     .faq-title h3 {
     	font-family: "value-bold", sans-serif;
     }
  
   }
     
  .collapse-header h4 {
    text-transform: capitalize;
  }
  
  .mirgo-collapse-details .section-container .page-width .section-collapse-container .section-collapse-row {
    margin: 30px auto !important;
  }
  
  .faq-hero-text {
    width: 47%;
    margin: 0 auto;
  }
  
  .faq-top {
    margin-top: 50px;
  }
  
   @media(max-width: 768px) {
     .faq-hero-text {
      width: 95%;
      margin: 0 auto;
     }
    }
  
  .get-educated {
    text-align: center;
    margin-top: 50px;
  }
  
   .educated-text {
    width: 47%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  
  @media(max-width: 768px) {
     .educated-text {
      width: 100%;
      margin: 0 auto;
     }
    .get-educated {
    	margin-top: 24px;
   		margin-bottom: 24px;
    }
    }
  
  
</style>