{% section 'mirgo-mission-hero' %}
{% section 'mirgo-mission-header' %}
{% section 'mirgo-mission-content' %}
{% section 'mirgo-mission-values' %}
{% section 'mirgo-mission-banner' %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">      
      <div class="rte">
{% include 'get-educated' %}
      </div>
    </div>
  </div>


<style>
    .get-educated {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  
   .educated-text {
    width: 47%;
    margin: 0 auto;
    padding-bottom: 24px;
  }
  
  @media(max-width: 768px) {
     .educated-text {
      width: 100%;
      margin: 0 auto;
     }
    .get-educated {
    	margin-top: 50px;
   		margin-bottom: 50px;
    }
    
    .mirgo-animation-blocks .grid-text-blocks {
    	padding: 32px 0 0 !important;
    } 
    }
</style>


